﻿
@{
    ViewBag.Title = "Ainceleme";
}

<h2>Araba İncelemeleri</h2>


<div class="col-md-6">
    <div class="panel panel-default panel-default">
        <div class="panel-heading">Markalar</div>
        <div class="panel-body">
            <table>
                <tr>
                    <td width="100">
                        <a href="#">TOYOTA</a>
                    </td>
                    <td width="100">
                        <a href="#">HONDA</a>
                    </td>
                    <td width="100">
                        <a href="#">NISSAN</a>
                    </td>
                </tr>

                <tr>
                    <td width="100">
                        <a href="#">IVECO</a>
                    </td>
                    <td width="100">
                        <a href="#">BMW</a>
                    </td>
                    <td width="100">
                        <a href="#">VOLVO</a>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>

