﻿@{
    ViewBag.Title = "Contact";
}


<h3>İLETİŞİM</h3>
<p>
    Görüşleriniz veya önerileriniz icin maillerden ulasabilirsiniz
</p>
<address>
    <strong>mail:</strong>   <a href="mailto:burak123456@hotmail.com">burak123456@hotmail.com</a><br />
    <strong>mail:</strong> <a href="mailto:hffg.gffh@gmail.com">hffg.gffh@gmail.com</a>
</address>