﻿@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-8 padTop10">
        <!--ANA KISIM-->
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="main-list-post clearfix">
                        <div class="main-list-main">
                            <a href="#"><img src="~/img/corolla.jpg" alt=""></a>
                        </div>
                        <div class="main-list-details">
                            <h5 class="main-list-title"><a href="#">Toyota Corolla</a></h5>
                            <p class="help-block"><i class="glyphicon glyphicon-user">:Burak DÜZ</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-calendar">:22.10.2016</i></p>
                            <p class="main-list-meta small-text"><span>toyota corolla iste sürüklenip gider gider de gider dümdüz gider dere tepe gider gider iste giddi giddi durdu durmadı gitti...</span> <span><a href="#">Devamı..</a></span></p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="col-md-4 padTop10">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Admin Duyuru Kısmı</h4>
                </div>
                <div class="panel-body">
                    <p>
                        Bu proje Sakarya Üniversitesi web programlama dersi 2.ödevi icin hazırlanmıstır
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">En Popüler 5 inceleme</div>
                <div class="panel-body">
                    <div class="main-list-post clearfix">
                        <div class="main-list-thumb">
                            <a href="main-single.html"><img src="~/img/corolla.jpg" alt=""></a>
                        </div>
                        <div class="main-list-details">
                            <h5 class="main-list-title"><a href="#">Toyota Corolla</a></h5>
                            <p class="main-list-meta small-text"><span>toyota corolla iste sürüklenip gider...</span> <span><a href="#">Devamı..</a></span></p>
                        </div>
                    </div>
                  
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>