﻿
@{
    ViewBag.Title = "Kyorum";
}

<h2>Kullanıcı Yorumları</h2>
<p class="help-block">Bu kısım kullanıcıların yorumlarından olusmaktadır dogrulugunun garantisi sitemize ait degildir</p>
<div class="col-md-6">
    <div class="panel panel-default panel-default">
        <div class="panel-heading">Markalar</div>
        <div class="panel-body">
            <table>
                <tr>
                    <td width="100">
                        <a href="#">TOYOTA</a>
                    </td>
                    <td width="100">
                        <a href="#">HONDA</a>
                    </td>
                    <td width="100">
                        <a href="#">NISSAN</a>
                    </td>
                </tr>

                <tr>
                    <td width="100">
                        <a href="#">IVECO</a>
                    </td>
                    <td width="100">
                        <a href="#">BMW</a>
                    </td>
                    <td width="100">
                        <a href="#">VOLVO</a>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>