﻿
@{
    ViewBag.Title = "Ybasvuru";
}

<h2>Yönetici Basvuru</h2>

<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Email addresi</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    </div>

    <div class="form-group">
        <label for="exampleInputFile">CV seciniz</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Lütfen CV nin PDF formatında olsun</p>
    </div>
  
    <button type="submit" class="btn btn-default">Gönder</button>
</form>